{% extends 'cargotime/cargotime_base.html' %}

{% block content %}
{{ block.super }}
<div class="container">
    <form action="{% url 'calc' %}" method="post">
        {% csrf_token %}
         {{ form.as_p }}
        <input type="submit" value="Добавить">
    </form>


    {% if start_stop_objs %}
        {% for start_stop in start_stop_objs %}
        <ul>
            <li>Начало маршрута: <span class="ml-4"> {{ start_stop.start_time|date:'Y, M-d, H:i' }}</span></li>
            <li >Остановка маршрута: <span class="ml-0">{{ start_stop.stop_time|date:'Y, M-d, H:i' }}</span></li>
            <li>Время работы: <span class="ml-5">{{ start_stop.work_time|date:'H:i' }}</span></li>
            <li>Простой: <span class="ml-5">{{ start_stop.idle_time|date:'H:i' }}</span></li>
        </ul>
        {% endfor %}
        <a href="{% url 'cleardata' %}">Очистить данные</a>
    {% else %}
      Нет данных
    {% endif %}
</div>
{% endblock content %}

