{% block title %}
<title> Cargo </title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
{% endblock title %}

    
{% block content %}
<div class="container">
    <ul class="nav">
        {% comment %} <li class="nav-item">
            <a class="nav-link" href="{% url 'calc2' %}">Добавление</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'timeresult' %}">Вывод данных</a>
        </li> {% endcomment %}
    </ul>
</div>
{% endblock content %}